export tcsql="select name,way,place,amenities,initcap(regexp_replace(concat(\
case when cafes > 0 then 'cafe, ' else '' end, 
case when pubs > 0 then 'pub, ' else '' end,
case when supermarkets + conveniences + fuels> 0 then 'shop, ' else '' end,
case when restaurants + fast_foods > 0 then 'restaurant, ' else '' end,
case when bakeries > 0 then 'bakery, ' else '' end), ', $', '')) amenitiesstring from places"
export tclayer="places"
export tctileset=places2
export tcargs="-Z 5 -z 18 -B 12"

