export tcsql="select way,name,coalesce(amenity,tourism,leisure,shop) AS poi from planet_osm_point where coalesce(amenity,tourism,leisure,shop) in ('camp_site','caravan_site','hotel','attraction','motel','viewpoint','alpine_hut','wilderness_hut','bed_and_breakfast','fuel','cafe','fast_food','pub','bar','toilets','shelter','drinking_water','bakery','supermarket','bicycle','convenience');"
export tclayer="pois"
export tctileset=pois
export tcargs="-Z 7 -z 15 -B 9"

