export tcsql="select the_geom,genus,species,scientific,description,common,height,planted,ref,coalesce(tree_type, location) AS location,source,species_count,(dbh_cm_min + coalesce(dbh_cm_max, dbh_cm_min))/2 AS dbh_cm from alltrees"
export tclayer="alltreesgeojson"
export tctileset=trees
export tcargs="-Z 7 -z 15 -B 11 -m 7 -pd -rf100000"
export PG="PG:host=localhost port=5432 dbname=trees user=ubuntu password=ubuntu"
